APP_NAME=
PORT=3006
APP_URL=http://localhost:${PORT}
APP_ENV=local

TYPEORM_CONNECTION=postgres
TYPEORM_HOST=
TYPEORM_PORT=5432
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=
TYPEORM_SCHEMA=public

JWT_SECRET=AppSRS!5g

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

SMTP_HOST=
SMTP_PORT=
SMTP_AUTH_USERNAME=
SMTP_AUTH_PASS=


FRONTEND_URL=https://kurikulum.ut.ac.id
LOG_PATH= '/log'

SRS_URL = ''
SRS_USER = ''
SRS_PASS = ''